@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*#002456*/

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.active {
    color: 'red';
}

/* .text-blue-600 {
    color: rgb(37 99 235 / var(1));
} */

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}